<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="13/06/2017 11:50">
  <Actions>
    <Action Change="NoChange" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Default Content - Page Image - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Default Content - Page Links - Related links" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Default Content - Page RTE - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Default Content - Page Title - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Department - Department Image - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Department - Department Location - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Department - Department Name - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Event - Event Image - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Event - Event Location - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Event - Event Name - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Partner - Partner Image - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Partner - Partner Name - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="People - People Image - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="People - People Name - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="People - People Role - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Search - Search Content - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="True/false" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Umbraco Properties - Umbraco Internal Redirect Id - Content Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Umbraco Properties - umbraco Navi Hide - TrueFalse" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Umbraco Properties - Umbraco Redirect - Content Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Umbraco Properties - Umbraco Sitemap Hide - TrueFalse" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Umbraco Properties - Umbraco Url Alias - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Umbraco Properties - Umbraco Url Name - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="Delete" Success="false" Message="Not found" Name="DefaultContent" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="PageNotFound" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Default Content" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Master" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Branch" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Home" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Page" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="404" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Search" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Sitemap" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="branch" Type="IContentType" />
    <Action Change="Import" Success="true" Message="" Name="Default Content" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="umbracoProperties" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="department" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="event" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="home" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="news" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="partner" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="people" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="search" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="File" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Folder" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Image" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="en-US" Type="ILanguage" />
  </Actions>
</uSync>