@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var siblings = Model.Content.Siblings();
	<ul>
    @{Html.RenderPartial("Navigation Parent"); }
        <hr />
	@foreach (var item in siblings.Where(x => x.Id != Model.Content.Id))
	{
		<li>
			<a title="@item.Name" href="@item.Url">@item.Name</a>
		</li>
	}
	</ul>
}