@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var siblings = Model.Content.Siblings();
    <nav class="navbar navbar-default">
  	    <ul  class="nav">
	        @foreach (var item in siblings.Where(x => x.Id != Model.Content.Id))
	        {
		        <li>
			        <a title="@item.Name" href="@item.Url">@item.Name</a>
		        </li>
	        }
	    </ul>
    </nav>
}