<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1072" key="ab8e7d1a-6207-470f-a579-fff014459f34" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-06T15:04:10" updateDate="2017-06-06T15:04:10" nodeName="Home" urlName="home" path="-1,1072" isDoc="" nodeType="1068" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1071" nodeTypeAlias="home" />
</root>