<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT branch ANY>
<!ATTLIST branch id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1072" key="ab8e7d1a-6207-470f-a579-fff014459f34" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-06T15:04:10" updateDate="2017-06-06T15:04:10" nodeName="Home" urlName="home" path="-1,1072" isDoc="" nodeType="1068" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1071" nodeTypeAlias="home">
    <page id="1083" key="4e48a85d-7ab7-4236-af48-9be80a537290" parentID="1072" level="2" creatorID="0" sortOrder="0" createDate="2017-06-08T10:13:16" updateDate="2017-06-12T14:06:04" nodeName="Sitemap" urlName="sitemap" path="-1,1072,1083" isDoc="" nodeType="1073" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1082" nodeTypeAlias="page">
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageTitle><![CDATA[Sitemap]]></pageTitle>
    </page>
    <page id="1088" key="484b617f-d642-4f1b-95d2-b4ca49d3e06c" parentID="1072" level="2" creatorID="0" sortOrder="1" createDate="2017-06-08T12:09:00" updateDate="2017-06-12T14:04:31" nodeName="404" urlName="404" path="-1,1072,1088" isDoc="" nodeType="1073" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1075" nodeTypeAlias="page">
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageRTE><![CDATA[<p>404</p>]]></pageRTE>
      <pageTitle><![CDATA[404]]></pageTitle>
    </page>
    <search id="1093" key="e308ff97-38cb-4a93-9a45-b3cb5a93b610" parentID="1072" level="2" creatorID="0" sortOrder="2" createDate="2017-06-08T16:15:21" updateDate="2017-06-12T14:04:55" nodeName="Search Results" urlName="search-results" path="-1,1072,1093" isDoc="" nodeType="1091" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1092" nodeTypeAlias="search">
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
    </search>
    <branch id="1110" key="6ac47122-ca2f-4ce3-ae2c-724134f1162b" parentID="1072" level="2" creatorID="0" sortOrder="3" createDate="2017-06-13T11:19:44" updateDate="2017-06-13T11:19:44" nodeName="Branch About" urlName="branch-about" path="-1,1072,1110" isDoc="" nodeType="1069" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1074" nodeTypeAlias="branch">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageRTE><![CDATA[<p>About Stub Branch Page</p>]]></pageRTE>
      <pageTitle><![CDATA[About]]></pageTitle>
    </branch>
    <branch id="1111" key="734df571-dc90-47a0-9637-babc6f30bfe7" parentID="1072" level="2" creatorID="0" sortOrder="4" createDate="2017-06-13T11:20:04" updateDate="2017-06-13T11:20:28" nodeName="Branch Departments" urlName="branch-departments" path="-1,1072,1111" isDoc="" nodeType="1069" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1074" nodeTypeAlias="branch">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageRTE><![CDATA[<p>Departments Stub Branch Page</p>]]></pageRTE>
      <pageTitle><![CDATA[Departments]]></pageTitle>
    </branch>
    <branch id="1112" key="2ba6b110-4403-43bb-bcb4-d672178fe83b" parentID="1072" level="2" creatorID="0" sortOrder="5" createDate="2017-06-13T11:20:37" updateDate="2017-06-13T11:21:26" nodeName="Branch News" urlName="branch-news" path="-1,1072,1112" isDoc="" nodeType="1069" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1074" nodeTypeAlias="branch">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageRTE><![CDATA[<p>News Stub Branch Page</p>]]></pageRTE>
      <pageTitle><![CDATA[News]]></pageTitle>
    </branch>
    <branch id="1113" key="56cd3c95-d403-4a4d-9e41-5e0134b9bd9a" parentID="1072" level="2" creatorID="0" sortOrder="6" createDate="2017-06-13T11:21:12" updateDate="2017-06-13T11:23:40" nodeName="Branch Workplace" urlName="branch-workplace" path="-1,1072,1113" isDoc="" nodeType="1069" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1074" nodeTypeAlias="branch">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageRTE><![CDATA[<p>Workplace Stub Branch Page</p>]]></pageRTE>
      <pageTitle><![CDATA[Workplace]]></pageTitle>
    </branch>
    <branch id="1114" key="d0bcdcc9-0a27-42b8-bfe0-f98e4e4e5fa6" parentID="1072" level="2" creatorID="0" sortOrder="7" createDate="2017-06-13T11:24:48" updateDate="2017-06-13T11:25:08" nodeName="Branch Events" urlName="branch-events" path="-1,1072,1114" isDoc="" nodeType="1069" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1074" nodeTypeAlias="branch">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageRTE><![CDATA[<p>Events Stub Branch Page</p>]]></pageRTE>
      <pageTitle><![CDATA[Events]]></pageTitle>
    </branch>
  </home>
</root>