/*html,
body {
    height: 100%;
    color: #2c3b42;
}*/

html {
    min-height:100%;
    position: relative;
}
body{
    margin: 0 0 61px;
}
footer {
    bottom: 0;
    height: 61px;
    position: absolute;
    width: 100%;
}

nav {
    background-color: #2C3B42 !important;
}
/* Boostrap Overide */
.breadcrumb {
    background-color: transparent;
}
.navbar {
    margin-bottom: 5px;
}
.navbar-default .navbar-form {
    border-color: transparent;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.page-header {
    margin-top: auto;
}