@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@
<div class="row">
    <div class="col-xs-12">
      

 
 
    </div>
    
</div>
<div class="row">
    <div class="col-md-3 bg-success">@Umbraco.Field("pageTitle")</div>
    <div class="col-md-6 bg-info">@Umbraco.Field("pageRTE")</div>
    <div class="col-md-3 bg-warning">Sidebar Widgets</div>
</div>