@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
@{Html.RenderPartial("Breadcrumb"); }
<div class="row">
    <div class="col-md-2">
        @{Html.RenderPartial("Navigation Parent");}
        @{Html.RenderPartial("Navigation Child Pages");}
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12">
                @{
                    var image = Model.Content.GetPropertyValue<IPublishedContent>("pageImage");
                    if (image != null)
                    {
                        <img class="img-responsive" src="@image.GetPropertyValue("umbracoFile")" />
                    }
                }
                @Umbraco.Field("pageRTE")
            </div>
        </div>
    </div>
    <div class="col-md-2">Sidebar Widgets</div>
</div>