@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@{Html.RenderPartial("breadcrumb");}
<div class="row">
    <div class="col-md-3">
        @{Html.RenderPartial("Navigation Siblings");}
    </div>
    <div class="col-md-9">
        <h1>@Model.Content.GetPropertyValue("newsTitle")</h1>
        @Model.Content.GetPropertyValue("newsRTE")
    </div>
</div>